
<h1>Sample App</h1>
<p>this is the home page for <a href= "http://railstutorials.org/"> Ruby on Rails tutorial </a> sample applicartion</p>
<%= link_to 'Sign up now!', '#', :class => "signup_button round" %>